footer {
    width: 100%;
    height: 350px;

    display: flex;
    justify-content: space-between;

    background-color: rgb(22, 22, 22);

    padding: 100px 230px;

    color: brown;
}

footer img {
    width: 190px;
}

.footer-1 {
    margin-top: 10px;
    text-align: center;
}

.footer-2 {
    display: flex;
    flex-direction: column;
    padding-top: 5px;
}
.footer-2 h1 {
    font-size: 1.5rem;
    font-family: TT-Bold;
}
.footer-2 h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-size: 1rem;

    margin-top: 20px;
}


@media (max-width: 1282px) {
    footer {
        padding: 100px 50px;
    }
}

@media (max-width: 1017px) {
    footer {
        height: 650px;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        text-align: center;
    }
}