@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
}


@media (max-width: 1017px) {

    main {
        height: 2000px;
    }

    .subtitle-conteiner {
        margin: 40px 40px;
    }

    footer {
        height: 650px;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        text-align: center;
    }

}



@media (max-width: 870px) {

    main {
        height: 2150px;
    }
    
    .ep-card{
        width: 80%;

        display: flex;
        flex-direction: column;
        align-items: center;

        margin: auto;
        margin-top: 100px;
    }

    .img-ep-card {
        width: 90%;
        margin: auto;
        
    }

    .ep-descr {
        text-align: center;
    }

}

@media (max-width: 830px) {

    .plusnews{
        display: block;
        width: 100px;
        height: 300px;
        margin: 2px;
        border: 1px solid white;
        background-image: url(/image/background-camp.jpg);

        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.5s;
    }
    .plusnews:hover {
        transform: scale(1.1);
        color: brown;
    }

    #card-2 {
        display: none;
    }
    #card-3 {
        display: none;
    }

}


@media (max-width: 620px) {

    .ep-card {
        width: 95%;
    }

    
}


@media (max-width: 500px) {

    main {
        height: 1800px;
    }

    .noticie-conteiner {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    #card-1 {
        display: none;
    }

    .plusnews {
        width: 200px;
        align-self: center;
        background-image: url(/image/background-camp-2.jpg);
        background-position: center ;
        background-size: cover;
        margin-top: 20px;
    }

    .subtitle-conteiner {
        font-size: 70%;
        margin: auto;
    }

    .subtitle-conteiner hr {
        width: 100%;
    }

}

