@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
}

@media (max-width: 1282px) {

    main {
        height: 1600px;
    }

    .news-first {
        height: 400px;

        background-image: url(/image/noticias-imagem/jeffrey-f-lin-6k0VD3xNw6U-unsplash.jpg);
        background-size: cover;

        flex-direction: column;
        overflow: hidden;

        margin-top: 15px;
    }
    .news-first img {
        display: none;

        width: 100%;
        height: 50%;

        left: 0px;

        object-fit: cover;
        cursor: pointer;

        border-radius: 8px;
    }

    .news-first-txt h2, p{
        color: white;
        text-shadow: 1px 1px 1px black;
    }

    footer {
        padding: 100px 50px;
    }

}


@media (max-width: 1130px) {

    .news-card {
        width: 70%;
        background-color: black;
        border-radius: 8px;
    }
    .news-card img {
        display: none;

    }
    .news-text {
        width: 90%;
    }

}

@media (max-width: 1017px) {

    main {
        height: 1500px;

        padding: 59px;
    }
    .news-card {
        width: 70%;
        padding-top: 0px;
    }

    footer {
        height: 650px;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        text-align: center;
    }

}

@media (max-width: 1000px) {

    #header-list {
        width: 90%;

        position: absolute;
        background-color: black;

        margin-top: 310px;

        z-index: 1000;

        display: none;
        overflow: hidden;
    }

    #header-list.active {
        display: block;
        z-index: 1000;
        
        transition: 0.6s;
    }

    #header-list.active li {
        width: 90%;

        font-size: 3rem;
        margin: 0px;
        text-shadow: 2px 1px 1px black;
    }
    
    #btn-hamburger {
        display: block;
    }


}

@media (max-width: 666px) {
    main {
        padding: 0px;
    }
}

@media (max-width: 500px) {
    
    header {

        display: flex;
        justify-content: space-between;

        padding: 0px;
        margin: 0px;
    }
    #header-nav {
        padding: 0px 15px;
    }

    main {
        width: 100%;
        height: 1450px;
    }

    .news-first-txt h1 {
        font-size: 50%;
        color: violet;
    }

    .news-first-txt-title {
        font-size: 80%;
        padding: 0px 5px;
    }

    .news-text h1 {
        font-size: 90%;
    }

    .news-card-container {
        padding-top: 0px;
    }

}