@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

:root {
    --black: #090B0D;
}

@font-face {
    font-family: TT-Bold;
    src: url(/fonts/TT\ Hoves\ Pro\ Trial\ Expanded\ Bold.ttf);
}
@font-face {
    font-family: TT-Medium;
    src: url(/fonts/TT\ Hoves\ Pro\ Trial\ Expanded\ Medium.ttf);
}
@font-face {
    font-family: ArchivoBlack;
    src: url(/fonts/ArchivoBlack-Regular.ttf);
}


header {
    width: 100%;
    height: 100px;

    display: flex;
    flex-direction: row;

    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}


/*//////////////////////////////////////////////////////////*/



main {
    width: 100%;
    height: 1700px;

    background-color: #090b0d;

    padding: 60px 200px;

}

#news-container {
    width: 100%;
    height: 100%;


    display: flex;
    flex-direction: column;
    align-items: center;
}





.news-first {
    width: 70%;
    height: 600px;

    display: flex;
    align-items: center;

    font-family: TT-Medium;
    text-align: justify;

    color: white;
    background-color: black;

    padding: 10px;

    margin-bottom: 50px;

    border-radius: 10px;
    border-bottom: 1px solid rgba(94, 0, 0, 0.438);
}
.news-first-txt {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 20px;
}

.news-first-txt p {
    font-size: 85%;
    margin-bottom: 10px;
}
.news-first h2 {
    font-family: ArchivoBlack;
    text-align: left;
    font-size: 3.5rem;
    color: white;
}
.news-first img {
    width: 350px;
    height: 400px;

    position: relative;
    left: 30px;

    object-fit: cover;
    cursor: pointer;
}





.news-card-container {
    width: 100%;
    height: 800px;

    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 50px;
}

.news-card {
    width: 70%;
    height: 200px;

    display: flex;
    justify-content: space-between;

    font-family: TT-Medium;
    text-align: justify;

    margin-bottom: 40px;
}

.news-card img {
    width: 250px;
    height: 150px;

    overflow: hidden;
    object-fit: cover;
    cursor: pointer;
}

.news-text {
    width: 80%;

    padding: 10px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.news-text h1 {
    font-size: 2rem;
    color: white;
    text-shadow: 1px 1px 2px black;
}

.description-card {
    font-size:80%;
}

.news-date {
    color: brown;
}

.btn-news {
    width: 100px;
    height: 80px;

    border-radius: 12px;
    color: brown;
    background-color: transparent;
}




/*////////////////////////////////////////////////////////*/



