@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

:root {
    --black: #090B0D;
}

@font-face {
    font-family: droid;
    src: url(/fonts/droid.otf);
}
@font-face {
    font-family: TT-Bold;
    src: url(/fonts/TT\ Hoves\ Pro\ Trial\ Expanded\ Bold.ttf);
}
@font-face {
    font-family: TT-Medium;
    src: url(/fonts/TT\ Hoves\ Pro\ Trial\ Expanded\ Medium.ttf);
}


body {
    width: 100%;
    height: 100%;

    background-color: #090B0D;
    background-attachment: fixed;
    background-size: cover;
}


header {
    width: 100%;
    height: 610px;

    display: flex;
    flex-direction: column;

    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;

    border-bottom: 2px solid brown;
}


/*//////////////////////////////////*/

main {
    width: 100%;
    height: 1520px;

    padding: 100px;
}

/*/////////////////////////////////*/


.subtitle-conteiner{
    margin: 80px 80px;

}
.subtitle {
    color: white;

    font-family: TT-Medium;
    text-shadow: 1px 1px 1px black;
}
.subtitle-conteiner hr {
    width: 250px;
    margin-top: 5px;
    border-color: brown;
}

/*/////////////////////////////////*/

.noticie-conteiner {
    width: 100%;
    height: 400px;

    font-size: 10px;

    display: flex;
    flex-wrap: wrap;

    color: white;
}
.noticie-conteiner h1 {
    font-family: TT-Bold;
}
.noticie-conteiner p {
    font-family: TT-Medium;
}

.notice-item {
    width: 200px;
    height: 300px;

    margin: 2px;

    border: 1px solid white;
    transition: 0.5s;
}
.notice-item:hover {
    transform: scale(1.1);
}
.notice-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}

.notice-item:first-child {
    width: 500px;
    height: 300px;
    flex: 2;
}

.plusnews{
    display: none;
}

/*/////////////////////////////////*/

.ep-card {
    width: 700px;
    height: 500px;

    display: flex;
    justify-content: space-between;

    margin: auto;
    margin-bottom: 30px;

    padding: 30px;

    border-radius: 10px;

    background-color: #0d0d0daf;
}
.img-ep-card {
    width: 300px;
    height: 450px;
    border-radius: 10px;

    object-fit: cover;
}
.ep-descr {
    width: 300px;

    margin: 50px 0px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    color: white;
    font-family: TT-Medium;
}
.ep-descr h1 {
    font-size: 3rem;
    cursor: pointer;
}
.ep-descr p {
    font-size: 1rem;
}

/*/////////////////////////////////*/

footer {
    width: 100%;
    height: 350px;

    display: flex;
    justify-content: space-between;

    background-color: rgb(22, 22, 22);

    padding: 100px 100px;

    color: brown;
}

footer img {
    width: 190px;
}

.footer-1 {
    margin-top: 10px;
    text-align: center;
}

.footer-2 {
    display: flex;
    flex-direction: column;
    padding-top: 5px;
}
.footer-2 h1 {
    font-size: 1.5rem;
    font-family: TT-Bold;
}
.footer-2 h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-size: 1rem;

    margin-top: 20px;
}