@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

@font-face {
    font-family: droid;
    src: url(/fonts/droid.otf);
}
@font-face {
    font-family: TT-Bold;
    src: url(/fonts/TT\ Hoves\ Pro\ Trial\ Expanded\ Bold.ttf);
}
@font-face {
    font-family: TT-Medium;
    src: url(/fonts/TT\ Hoves\ Pro\ Trial\ Expanded\ Medium.ttf);
}

@media (max-width: 1170px) {

    .content {
        font-size: 70%;
    }

    .content p {
        font-size: 1rem;
    }

    .slider-container {
        padding: 10%;
    }

    #div2 h1{
        font-size: 3rem;
    }

}