#insta-icon {
    width: 50px;
    position: fixed;
    bottom: 7%;
    left: 94%;
    cursor: pointer;
}
#link-insta {
    border: none;
}
.hidden {
    display: none;
}


@media (max-width: 1024px) {
    #insta-icon {
        left: 90%;
    }
}
@media (max-width: 540px) {
    #insta-icon{
        bottom: 5%;
    }
}
@media (max-width: 500px) {
    #insta-icon{
        left: 80%;
        bottom: 35%;
    }
}
@media (max-width: 360px) {
    #insta-icon{
        bottom: 5%;
    }
}