<footer>
        
    <div class="footer-1">
    <img src="/image/logo/radio ddp.png" alt="">
    <p>© 2005 Diabos do Planalto <br>
        Todos os direitos reservados
    </p>
    </div>

    <div class="footer-2">
        <h1>Programas</h1>
        <h2>CANCHA</h2>
        <h2>Radio DDP</h2>
    </div>

    <div class="footer-2">
        <h1>Contatos</h1>
        <h2>Instagram</h2>
    </div>

    <div class="footer-2">
        <h1>Sobre</h1>
    </div>

</footer>